.action {
  background: none;
  border: none;
  color: var(--color__primary--100);
  cursor: pointer;
  padding: 1rem;
  text-align: left;
}

.action:hover {
  background: var(--color__primary--700);
}

.actions {
  display: flex;
  flex-direction: column;
}

.menu {
  background: var(--color__primary--900);
  border-left: 2px solid var(--color__neutral--700);
  bottom: 0;
  color: var(--color__primary--300);
  left: 100%;
  position: fixed;
  top: 4rem;
  transition: 200ms;
  width: 256px;
}

.menu.open {
  transform: translate(-100%, 0);
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem;
}
