.button {
  align-items: flex-end;
  background: none;
  border: 1px solid var(--color__primary--100);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 2rem;
  justify-content: space-between;
  padding: 0.5rem;
  width: 2rem;
}

.button:hover {
  background: #00000022;
}

.line {
  border: none;
  border-top: 2px solid var(--color__primary--100);
  transition: 200ms;
  width: 100%;
}

.line:nth-of-type(1) {
  transform-origin: center center;
}

.line:nth-of-type(2) {
  transform-origin: center center;
}

.line:nth-of-type(3) {
  transform-origin: center center;
}

.open > .line:nth-of-type(1) {
  transform: translate(0, 6px) rotate(45deg);
}

.open > .line:nth-of-type(2) {
  transform: scale(0, 1);
}

.open > .line:nth-of-type(3) {
  transform: translate(0, -6px) rotate(-45deg);
}
