.header {
  align-items: center;
  background: var(--color__primary--500);
  color: var(--color__primary--100);
  display: flex;
  justify-content: center;
  height: 4rem;
  padding: 1rem;
}

.main {
  margin: 1rem auto;
  width: min(90vw, 512px);
}

.titleApp {
  flex: 1;
}

.titlePage {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
