@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.eliminated {
  color: var(--color__neutral--300);
  text-decoration: line-through;
}

.options {
  animation-duration: 400ms;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.optionsEnter {
  animation-duration: 500ms;
  animation-name: fade;
}

.optionsLeave {
  animation-duration: 1ms;
  animation-direction: reverse;
  animation-name: fade;
}

.option {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  text-align: left;
}

.option:hover {
  background: var(--color__primary--100);
}

.title {
  font-size: 1.3rem;
  padding: 1rem;
}

.toggle {
  background: var(--color__primary--500);
  border: none;
  color: var(--color__neutral--100);
  cursor: pointer;
  text-align: left;
}

.toggle:hover {
  background: var(--color__primary--700);
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
