@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.option {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.option:hover {
  background: #00000022;
}

.options {
  display: flex;
  flex-direction: column;
}

.picker {
  animation-duration: 200ms;
  background: var(--color__neutral--100);
  border-radius: 4px;
  box-shadow: 0 4px 6px #00000044;
  overflow: hidden;
}

.pickerEnter {
  animation-name: pop;
}

.pickerLeave {
  animation-direction: reverse;
  animation-name: pop;
}

.title {
  background: var(--color__neutral--700);
  color: var(--color__neutral--100);
  padding: 1rem;
}

.wrapper {
  align-items: center;
  background: #00000044;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}
