@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

:root {
  --color__neutral--100: #e6e8f2;
  --color__neutral--300: #b6babf;
  --color__neutral--500: #797a80;
  --color__neutral--700: #555759;
  --color__neutral--900: #242526;
}

:global .green {
  --color__primary--100: #b8e6bb;
  --color__primary--300: #7acc81;
  --color__primary--500: #26802e;
  --color__primary--700: #227329;
  --color__primary--900: #0a330e;
}

:global .mustard {
  --color__primary--100: #e6e6da;
  --color__primary--300: #d9ce57;
  --color__primary--500: #aa0;
  --color__primary--700: #7f8000;
  --color__primary--900: #330;
}

:global .peacock {
  --color__primary--100: #c8cbde;
  --color__primary--300: #909bde;
  --color__primary--500: #2f4bdd;
  --color__primary--700: #1d308c;
  --color__primary--900: #0b1133;
}

:global .plum {
  --color__primary--100: #decfe6;
  --color__primary--300: #845c99;
  --color__primary--500: #701f99;
  --color__primary--700: #491466;
  --color__primary--900: #2e0d40;
}

:global .scarlett {
  --color__primary--100: #ffe8e8;
  --color__primary--300: #f66;
  --color__primary--500: #c00;
  --color__primary--700: #900;
  --color__primary--900: #500;
}

:global .white {
  --color__primary--100: #fff;
  --color__primary--300: var(--color__neutral--300);
  --color__primary--500: var(--color__neutral--500);
  --color__primary--700: var(--color__neutral--700);
  --color__primary--900: var(--color__neutral--900);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
}

body {
  background-color: var(--color__neutral--100);
  color: var(--color__neutral--900);
}

button {
  -webkit-appearance: none;
  font-size: 1rem;
  transition: 200ms;
}

h1 {
  font-weight: 200;
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}
